[Desktop Entry]
Type=Application
Version=1.0
Name=MANUALE PALINSESTO
Name[it]=MANUALE PALINSESTO
Comment=Manuale utente Quelo-palinsesto-radio
Comment[it]=Manuale utente Quelo-palinsesto-radio
Exec=quelo-manuale-palinsesto
Icon=application-pdf
Terminal=false
Categories=Office;Documentation;
Keywords=quelo;manuale;palinsesto;pdf;
StartupNotify=true
